@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
    transition:width none;
}
body{
    background-color: #F8F8F0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .header-1 .logo i{
    color:var(--green);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--green);
}

.header .header-2 .navbar{
    text-align: center;
    position: relative;         
}
.header .header-2 .navbar .nav-links {
    display: flex;
}
.header .header-2 .navbar .burger {
    display: none; 
    font-size: 30px;
    cursor: pointer;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.home{
    background: url(../image/lockerbg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
    
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--black);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
    text-align: justify;
}

/*Icons goes here...*/

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding-top: 20px;
    margin-top: 20px; 
}

    .icons-container .icons{
        display: flex;
        align-items: center;
        gap:1.5rem;
        padding:2rem 0;
    }

    .icons-container .icons i{
        font-size: 3.5rem;
        color:var(--green);
    }

    .icons-container .icons h3{
        font-size: 2.2rem;
        color:var(--black);
        padding-bottom: .5rem;
    }

    .icons-container .icons p{
        font-size: 1.4rem;
        color:var(--light-color);
    }

/*about us here*/

.About{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto 0px;
    scroll-margin-top: 60px;  
      
}
.About h1{
    font-size: 50px;
    color: #000;;
    margin-bottom: 25px;
    position: relative;
    scroll-margin-top: 60px;
}
.About h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin:0 auto;
    background-color: #4caf50;
    
}
.About p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

.container {
    width: 90%; 
    margin: 0 auto;
    padding: 10px 20px; 
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
    margin-top: 10px;  
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover {
    background-color: #3e8341;
}

    /*Contact*/

    .contact{
        min-height: 100vh;  
        padding: 50px;    text-align: center;    
    }
    .Contact{
        max-width: 800px;
        margin: 0 auto;
    }
    .Contact h2{
        font-size: 50px;
        margin-bottom: 40px;
        color: #333;
    }
    .Contact h2::after{
        content: "";
        position: center;
        width: 35%;
        height: 4px;
        display: block;
        margin:0 auto;
        background-color: #4caf50;
    }
    .contact-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .contact-form{
        text-align: left;
    }
    .contact-form h3{
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }
    .form-group{
        margin-bottom: 20px;
    }
    input, textarea{
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: none;
        background-color: #f8f9fa;
        color: #333;
    }
    input:focus,
    textarea:focus{
        outline: none;
        box-shadow: 0 0 8px #bbb;
    }
    button{
        display: inline-block;
        background-color: #4caf50;
        color:#fff;
        border: none;
        cursor: pointer;
        transition: 0.3s ease;
        padding: 10px 20px; 
        font-size: 15px;
    }
    button:hover{
        background-color: #45a049;
    }
    .contact-info{
        text-align: left;   
    }
    .contact-info h3{
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }
    .contact-info p{
        margin-bottom: 10px;
        color: #555;
    }
    .contact-info i{
        color: #4caf50;
        margin-right: 10px;
    }

    /*Footer section here*/

    footer {
        /* position: fixed; */
        bottom: 0;
    }
    
    @media (max-height:800px) {
        footer {
            position: static;
        }
    }
    
    .footer-distributed {
        background-color: #D3D3D3;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 0;
    }
    
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left {
        width: 30%;
    }
    
    .footer-distributed h3 {
        color:var(--black);
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    
    
    .footer-distributed h3 span {
        color: var(--green);
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links {
        color: var(--black);
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center {
        width: 35%;
    }
    
    .footer-distributed .footer-center i {
        background-color: var(--black);
        color: white;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        color: var(--black);
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
        color: var(--green);
        text-decoration: none;
        ;
    }
    
    /* Footer Right */
    
    .footer-distributed .footer-right {
        width: 30%;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: var(--black);
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: var(--black);
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    .footer-distributed .footer-icons a:hover {
        background-color: var(--green);
    }
    
    .footer-links a:hover {
        color: var(--green);
    }
    
    @media (max-width: 880px) {
        .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    }       
         
/*Footer ends*/

@media screen and (max-width:768px){
    .Contact{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
    
}

    
@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2 .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; 
        left: 0;
        background: var(--green); 
    }
    .header .header-2 .navbar{
        display: none; 
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }
}
@media (max-width:450px){

    html{
        font-size: 50%;
    }   
}

@media screen and (max-width: 768px){
    .About{
        padding: 0px 20px;
    }
    .About h1{
        font-size: 36px;
    }
    .About p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}